<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Dashboard</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/lab10%20flask/part1/static">Home</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-4">
    <h1 class="text-center">Dashboard</h1>
    <div class="graph-container">
        {{ graph_html|safe }}
    </div>
    <a href="/lab10%20flask/part1/static" class="btn btn-secondary mt-3">Powrót</a>
</div>
</body>
</html>